@import './vars.scss';

html, body{
    background-color: $say-basedark-color;
}

h1,h2,h3,h4,h5,h6{
    font-family: $say-base-font;
    margin: 0;
    color: #fff;
    position: relative;
    display: inline-block;
    &.heading{
        font-size: 4.5rem;
    }
    &.styled{
        &:after{
            content: '';
            position: absolute;
            width: 50%;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $say-mainaccent-color;
        }
    }
}

p{
    font-family: $say-p-base-font;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.say-background-primary{
    background-color: $say-basedark-color;
}

.say-background-secondary{
    background-color: $say-mainaccent-color;
}

.say-main-container{
    margin-top: -80px;
    position: relative;
}

.say-border-radius{
    border-radius: $say-border-radius;
}

.uk-navbar-container{
    position: relative;
    z-index: 1;
}

//Transition

fade-enter-active {
    transition: all .1s ease;
  }
fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
fade-enter, .fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
    /*transform: translateY(10px);*/
    opacity: 0;
  }

@media(max-width: 640px){
    h1,h2,h3,h4,h5,h6{
        &.heading{
            font-size: 2.5rem;
        }
    }
}

@media(max-height: 700px){
    h1,h2,h3,h4,h5,h6{
        &.heading{
            font-size: 2.5rem;
        }
    } 
}