$say-default-color: #fff;
$say-base-color: #EFE7F5;
$say-base-hover-color: #CEC7E9;
$say-basedark-color: #1F0B2E;
$say-mainaccent-color: #E83E99;
$say-text-color: #E1DBE6;
$say-dark-text-color: #61526D;

//Fonts
$say-p-base-font: 'Didact Gothic', sans-serif;
$say-base-font: 'Staatliches', cursive;

//Extra
$say-border-radius: 8px;